.page {
  margin: 0 auto;
  padding: 1.5rem 0 3rem;
}

.page__title {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
}

@media (min-width: 48em) {
  .page {
    padding: 5rem 0;
  }

  .page__title {
    font-size: 4rem;
  }
}

@media (min-width: 62em) {
  .page__title {
    font-size: 7rem;
  }
}
