h1,
.h1 {
  margin: 0;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 2rem;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 1.5rem;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-subheading);
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-subheading);
}

h2 {
  &:not(:first-child) {
    margin-top: 3rem;
  }
}

h3,
h4,
h5,
h6 {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

blockquote {
  position: relative;
  background-color: var(--color-quote-background);
  margin: 3rem auto 0;
  padding: 1.5rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--color-quote-shadow);
  @include box-shadow(var(--color-quote-shadow));

  &::before {
    content: "“";
    position: absolute;
    top: 1rem;
    left: -1rem;
    line-height: 0;
    font-size: 8rem;
    font-family: var(--font-accent);
    color: var(--color-quote-accent);
  }

  cite {
    display: block;
    font-style: normal;
    font-size: 0.875rem;
    text-align: right;
  }
}

.accent-text {
  text-shadow: 0 -0.125rem var(--color-tertiary-light),
    0.15rem 0.15rem var(--color-secondary);
}

@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  blockquote {
    font-size: 1.15rem;
  }
}
