:root {
  --color-primary: #a75293;
  --color-primary-light: #c181b1;
  --color-primary-dark: #822f6e;
  --color-secondary: #9ddacb;
  --color-secondary-light: #d4ede7;
  --color-secondary-dark: #3d99a4;
  --color-tertiary: #9c7a9d;
  --color-tertiary-light: #dac7db;
  --color-tertiary-extra-light: #f2e7f3;
  --color-tertiary-dark: #645374;
  --color-offwhite: #fafafa;
  --color-dark-light: #4f4d7e;
  --color-dark: #2c2b4b;

  --color-bg: var(--color-offwhite);
  --color-body-text: var(--color-dark);
  --color-heading: var(--color-dark);
  --color-subheading: var(--color-dark-light);
  --color-heading-accent: var(--color-tertiary-light);
  --color-link-highlight: var(--color-secondary-light);
  --color-link-underline: var(--color-secondary-dark);
  --color-link-hover-highlight: var(--color-tertiary-light);
  --color-link-hover-underline: var(--color-primary);
  --color-quote-background: var(--color-tertiary-extra-light);
  --color-quote-shadow: var(--color-tertiary-light);
  --color-quote-accent: var(--color-tertiary);
  --color-icon: var(--color-primary);
  --color-border: var(--color-tertiary-light);
  --color-staggered-stripe-main: var(--color-tertiary-extra-light);
  --color-staggered-stripe-accent: var(--color-secondary-light);
  --color-filter-link: var(--color-primary);
  --color-project-item-background: var(--color-tertiary-extra-light);
  --color-project-item-shadow: var(--color-dark-light);
  --color-tag: var(--color-tertiary-light);
  --color-tag-text: var(--color-dark);
  --color-tag-underline: var(--color-tertiary);
  --color-project-outline: var(--color-primary);
  --color-post-background: var(--color-tertiary-extra-light);
  --color-post-shadow: var(--color-dark-light);
  --color-post-tag: var(--color-primary);
  --color-table-header: var(--color-tertiary-extra-light);
  --color-table-success: var(--color-secondary-light);
  --color-table-shadow: var(--color-tertiary-light);
  --color-heading-anchor: var(--color-primary);
  --color-code-bg: var(--color-dark-light);
  --color-code-text: var(--color-offwhite);
  --color-image-fallback: var(--color-tertiary-light);
  --color-decorative-square: var(--color-primary);
  --color-decorative-line: var(--color-tertiary-light);
  --color-nav-highlight: var(--color-secondary);
  --color-nav-outline: var(--color-dark-light);
  --color-footer-bg: var(--color-tertiary-light);
  --color-footer-highlight: var(--color-tertiary-extra-light);
  --color-about-callout-bg: var(--color-secondary-light);
  --color-about-callout-shadow: var(--color-secondary-dark);

  --font-accent: "Playfair Display", serif;
  --font-base: "Lato", sans-serif;

  --fade-color: var(--color-dark);
}

@mixin dark-colors {
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]) {
  }
}
[data-user-color-scheme="dark"] {
}
