// presentation
.color-scheme__button {
  padding: 0.75rem 1rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  svg {
    margin-right: 0.25rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}

.color-scheme__button--dark {
  background-color: var(--color-dark-light);
  color: var(--color-offwhite);
  box-shadow: 0.25rem 0.25rem 0 0 var(--color-dark);
}

.color-scheme__button--light {
  background-color: var(--color-tertiary-extra-light);
  color: var(--color-dark);
  box-shadow: 0.25rem 0.25rem 0 0 var(--color-tertiary);
}

// display
@mixin lightScheme {
  .color-scheme__button--button--dark {
    display: block;
  }

  .color-scheme__button--light {
    display: none;
  }
}

@mixin darkScheme {
  .color-scheme__button--dark {
    display: none;
  }

  .color-scheme__button--light {
    display: block;
  }
}

@include lightScheme;

@media (prefers-color-scheme: dark) {
  html:not([data-user-color-scheme]) {
    @include darkScheme;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-user-color-scheme]) {
    @include lightScheme;
  }
}

[data-user-color-scheme="dark"] {
  @include darkScheme();
}

[data-user-color-scheme="light"] {
  @include lightScheme;
}
