.index-section {
  position: relative;
  --portrait-offset: 3;
  --portrait-constant: -0.2px;

  &:nth-child(2) {
    .index-section__visuals {
      --fade-color: var(--color-dark);
      background: linear-gradient(
        to bottom,
        var(--color-dark),
        var(--color-primary)
      );
    }
  }

  &:nth-child(3) {
    .index-section__visuals {
      --fade-color: var(--color-primary);
      background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-tertiary)
      );
    }
  }

  &:nth-child(4) {
    .index-section__visuals {
      --fade-color: var(--color-tertiary);
      background: linear-gradient(
        to bottom,
        var(--color-tertiary),
        var(--color-secondary-dark)
      );
    }
  }

  &:nth-child(5) {
    .index-section__visuals {
      --fade-color: var(--color-secondary-dark);
      background: linear-gradient(
        to bottom,
        var(--color-secondary-dark),
        var(--color-secondary)
      );
    }
  }
}

.index-section__text-wrapper {
  padding: 2.5rem 0;
  clear: both;
  z-index: 1;
}

.index-section__scheme-toggle {
  position: absolute;
  right: 5%;
}

.index-section__container {
  width: 90%;
  margin: 0 auto;
}

.index-section__decorative-square {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  background-color: var(--color-decorative-square);
}

.index-section__visuals {
  position: relative;
  background-color: var(--color-dark);
}

.index-section__portrait {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-dark);
}

@media (min-width: 40em) {
  .index-section--first {
    display: flex;
  }

  .index-section__visuals--portrait {
    flex: 0 0 50%;
  }

  .index-section__scheme-toggle {
    right: 55%;
  }
}

@media (min-width: 48em) {
  .index-section__visuals--portrait {
    flex: 0 0 50%;
    min-height: 30rem;
  }
}

@media (min-width: 62em) and (min-height: 40em) {
  .index-section {
    min-height: 100vh;
    display: flex;
  }

  .index-section__scheme-toggle {
    top: 3rem;
    right: auto;
  }

  .index-section__text-wrapper {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    background-color: var(--color-bg);
    z-index: 2;
  }

  .index-section__visuals {
    flex: 0 1 50%;
  }

  .index-section__container {
    padding: 0 2.5rem;
  }
}

@media (min-width: 72em) and (min-height: 48em) {
  .index-section__container {
    width: 80%;
    max-width: 40rem;
    padding: 0 3rem;
  }

  .index-section__decorative-square {
    position: absolute;
    left: 5%;
    bottom: calc(50vh + 7rem);
    z-index: 1;
  }

  .index-section__decorative-line {
    position: absolute;
    bottom: 0;
    left: calc(5% + 1.3725rem);
    width: 0.25rem;
    height: calc(50vh + 10rem);
    background-color: var(--color-decorative-line);
    transform-origin: top center;

    &--full {
      top: 0;
      height: 100%;
    }
  }
}

@media (min-width: 80em) {
  .index-section__container {
    padding: 0 5rem;
  }
}

@media (min-width: 90em) {
  .index-section__title {
    font-size: 3.5rem;
  }
}

// animations
// stick the sections
@media (prefers-reduced-motion: no-preference) {
  @media (min-width: 62em) and (min-height: 40em) {
    [data-js-enabled="true"] {
      .index-section__static-fade {
        position: fixed;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: var(--fade-color);
      }

      .index-section__visuals {
        opacity: 0;
        transition: opacity 0.3s ease-in;

        &--stuck {
          position: fixed;
          top: 0;
          left: 50%;
          right: 0;
          bottom: 0;
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }

  // draw the lines
  @media (min-width: 72em) and (min-height: 48em) {
    body:not([data-scrolled="true"]) {
      [data-aos] {
        &.index-section__decorative-square {
          opacity: 0;
        }

        &.index-section__decorative-line {
          transform: scaleY(0);
        }

        .index-section__decorative-line {
          transform: scaleY(0);
        }
      }

      [data-aos="playing"] {
        &.index-section__decorative-square {
          animation: 0.5s fadeIn forwards;
        }

        &.index-section__decorative-line {
          animation: 0.6s scaleVertically forwards 0.5s;
        }

        .index-section__decorative-line--full {
          animation: 0.8s scaleVertically forwards;
        }
      }

      [data-aos="ended"] {
        &.index-section__decorative-square {
          opacity: 1;
        }

        &.index-section__decorative-line {
          transform: scaleY(1);
        }

        .index-section__decorative-line--full {
          transform: scaleY(1);
        }
      }
    }
  }
}
