.nav {
  --text-link-spacing: 0.5rem;
  --text-link-padding: 0.5rem;
  color: var(--color-nav-link);

  &--index {
    .nav__list {
      margin-left: calc(
        (var(--text-link-padding) + var(--text-link-spacing)) * -1
      );
    }

    .nav__item--home {
      display: none;
    }

    @media (min-width: 62em) and (min-height: 42em) {
      position: absolute;
      left: 0;
      width: 100%;

      .nav__dropdown {
        max-width: 50%;
      }
    }
  }
}

.nav__content {
  padding: 0.5rem 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 -0.25rem;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;

  & + & {
    margin-left: var(--text-link-spacing);
  }
}

.nav__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: var(--text-link-padding);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  color: currentColor;
  text-decoration: none;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 25%;
    left: 0.25rem;
    bottom: 0.5rem;
    right: 0.25rem;
    background-color: var(--color-nav-highlight);
    transform: scaleX(0);
    transform-origin: center left;
    z-index: -1;
    transition: transform 0.3s ease;
  }

  &:hover,
  &[aria-current] {
    &::before {
      transform: scaleX(1);
    }
  }

  &:focus {
    outline: 0.25rem dashed var(--color-nav-outline);
    z-index: 2;
  }

  svg {
    display: inline-block;
    margin-right: 0.25rem;
    width: 0.75em;
    height: 0.75em;
    vertical-align: baseline;
    fill: currentColor;
  }
}

.nav__home-link {
  display: inline-block;
  padding: 0.25rem;
  line-height: 1;
  vertical-align: middle;

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-decorative-square);
  }

  &:focus {
    outline: 0.25rem dashed var(--color-nav-outline);
  }
}

.nav__toggle {
  border: 0;
  border-radius: 0;
  background-color: transparent;

  &[aria-expanded="true"] {
    & + .nav__dropdown {
      max-height: 15rem;
      overflow: visible;
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav__dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 1rem 5%;
  background-color: var(--color-bg);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  border-bottom: rem-calc(1) solid var(--color-border);
  visibility: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;

  .nav--index & {
    padding: 1rem 5%;
  }

  @media (min-width: 48em) {
    padding-left: calc(
      5% + var(--text-link-padding) + var(--text-link-spacing) + 2.25rem
    );
  }
}

.nav__dropdown-group {
  & + & {
    margin-top: 1rem;
  }
}

@media (min-width: 48em) {
  .nav {
    --text-link-spacing: 1.5rem;
  }

  .nav__content {
    padding: 0.75rem 0;
  }
}
