.project-hero {
  display: flex;
  position: relative;
  align-items: center;
  padding: 3rem 0;
  min-height: calc(100vh - 5rem);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(167, 82, 147, 0),
      rgba(167, 82, 147, 0.8)
    );
    z-index: 0;
  }
}

.project-hero__image {
  display: block;
  position: relative;
  margin: 0 auto;
  @include box-shadow;
  z-index: 1;
}

@media (min-width: 48em) {
  .project-hero {
    padding: 5rem 0;
    min-height: calc(100vh - 3.5rem);
  }
}

@media (min-width: 95em) {
  .project-hero__image {
    max-width: 85.375rem;
  }
}
