.project {
  margin: 3rem auto;
  font-size: 1.125rem;
  line-height: 1.8;

  h2 {
    color: var(--color-subheading);

    @include accent-box;
  }
}

.project__heading {
  font-weight: 700;
  color: var(--color-heading);
}

.project__date {
  font-size: 0.875rem;
}

.project__heading-link {
  margin-left: -0.25rem;
  padding: 0 0.25rem;
  color: currentColor;
  text-decoration: none;
  @include highlight-link;
}

.project__rte {
  & > *:not(.project-media) {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
  }
}
