.tags {
  margin: 1rem 0 2rem -0.75rem;
  padding: 0;
  list-style: none;

  &--small {
    margin-left: -1rem;

    .tags__tag {
      margin-left: 1.5rem;
      font-size: 0.875rem;

      &::before {
        left: -0.99rem;
        border-width: rem-calc(15.5) 1rem rem-calc(15.5) 0;
      }
    }
  }
}

.tags__item {
  display: inline-block;
  position: relative;
}

.tags__tag {
  display: inline-block;
  position: relative;
  line-height: 1.8;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0.125rem 0.5rem 0.25rem;
  background-color: var(--color-tag);
  color: var(--color-tag-text);

  &::before {
    content: "";
    position: absolute;
    left: -1.249rem;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem-calc(17) 1.25rem rem-calc(17) 0;
    border-color: transparent var(--color-tag) transparent transparent;
    transition: border 0.3s ease;
  }
}

.tags__tag--link {
  color: var(--color-tag-text);
  box-shadow: 0.125rem 0.125rem 0 0 var(--color-tag-underline);
  text-decoration: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  &:hover {
    --color-tag: var(--color-secondary-light);
    --color-tag-underline: var(--color-secondary-dark);
  }

  &:focus {
    outline: 0.25rem solid transparent;
    box-shadow: 0.25rem 0.25rem 0 0 var(--color-tag-underline);
  }
}
