<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "global/meta.njk" %}
    <link rel="icon" href="/static/favicon.png" type="image/png"/>
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body data-js-enabled="false">
    {% if hideNav != true %}
      <a class="skip-link" href="#main">
        Skip to main content
      </a>
      {% include "global/nav.njk" %}
    {% endif %}
    <main id="main">
      {% block content %}{{ content | safe }}{% endblock content %}
    </main>
    {% include "global/footer.njk" %}
    {% block footer %}{{ footer | safe }}{% endblock footer %}
    <script>
      document.querySelector('body').setAttribute('data-js-enabled', 'true');
    </script>
  </body>
</html>
