{% extends 'layouts/base.njk' %}
{% block content %}
<div class="post__wrapper">
  <div class="page container container--lg">
    <article class="post">
      <h1 class="post__title">{{ title }}</h1>
      {% if date %}
        <time class="post__date h4" datetime="{{ date | htmlDate }}">{{ date | monthDayYear }}</time>
      {% endif %}
      <div class="post__layout">
        <nav class="post__tags" aria-label="Tags">
          {% if tags.length %}
            <ul class="post__tags-list">
            {% for tag in tags %}
              {% if tag != 'featured' %}
                <li class="post__tags-item">
                  <a class="post__tags-link" href="/blog/tagged/{{tag}}/">{{tag}}</a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </nav>
        <div class="post__content rte">
          {{ content | safe }}

          {% if link %}
            <p>
              <a class="post__permalink" href="{{ link }}">Read “{{ title }}” on {{ publisher }} &rarr;</a>
            </p>
          {% endif %}

          {% if translations %}
            <h2>Translations</h2>
            <ul>
              {% for translation in translations %}
                <li><a href="{{ translation.link }}">{{ translation.language }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </article>
  </div>
  {% endblock %}
</div>
