{% extends 'layouts/base.njk' %}

{% block content %}
<div
  class="project-hero"
  style="background-color: {{ color }}"
>
  <div class="project-hero__container container">
    {% cloudinaryImage image.name, image.alt, image.width, image.height, "(min-width: 95em) 85.375rem, 90vw", "eager", "project-hero__image" %}
  </div>
</div>

<div class="project">
  <div class="container container--md">
    {% if link %}
      <h1 class="project__heading">
        <a class="project__heading-link" href="{{ link }}">
          {{title }}&nbsp;
          <span class="project__heading-arrow">
            &rarr;
          </span>
        </a>
      </h1>
    {% else %}
      <h1 class="project__heading">{{ page.title }}</h1>
    {% endif %}

    <p class="project__date h4">Project completed in {{ date | monthYear }}</p>

    <ul class="tags">
      {% for tech in technology %}
        <li class="tags__tag">{{ tech }}</li>
      {% endfor %}
    </ul>

    {% if page.brief %}
      <h2>The Brief</h2>
      <p>{{ brief | safe }}</p>
    {% endif %}
    <h2>The Solution</h2>
    <p>
      {{ solution | safe }}
    </p>
  </div>

  {{ content | safe }}

</div>
{% endblock %}
