{% macro postItem(item, class) %}
  <div class="post-item {{ class }}">
    <h2 class="post-item__title">
      <a href="{{ item.url }}" class="post-item__link">{{ item.data.title }}</a>
    </h2>
    <time class="post-item__date" datetime="{{ item.data.date | htmlDate }}">{{ item.data.date | monthYear }}</time>
    <ul class="post-item__tags tags tags--small">
      {% for tag in item.data.tags %}
        {% if tag != 'featured' %}
          <li class="tags__tag">{{ tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
