---
title: '404 - not found'
layout: '404'
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="page not-found container container--sm">
  <h1 class="page__title">404</h1>
  <canvas class="not-found__canvas" width="360" height="360" role="img" aria-label="Zdog Rowlet, an owl pokemon with a green bow tie spinning slowly"></canvas>
  <p class="not-found__text">I seem to have misplaced the content that you are looking for. In the mean time, please enjoy this spinning rowlet.</p>
</div>
