---
layout: 'base'
title: null
hideNav: true
---
<section class="index-section index-section--first" data-aos>
  <div class="index-section__text-wrapper">
    <div class="index-section__container">
      <div class="index-section__decorative-square" data-aos></div>
      <div class="index-section__decorative-line" data-aos></div>
      <h1 class="index-section__title">
        Hi, I'm Nic and I'm a
        <strong class="accent-text">front-end web developer</strong>
      </h1>
    </div>
  </div>
  <div class="index-section__visuals index-section__visuals--stuck index-section__visuals--portrait">
    <div class="index-section__portrait-wrapper">
      <div class="index-section__portraits">
        {% cloudinaryImage 'portrait-unfiltered.png', 'self portrait of Nic Chan painted in purples, pinks and teals', 1869, 2110, "(min-width: 62em) 62rem, (min-width: 48em) calc(50vw + 2rem), calc(100vw + 2rem)", "eager", "index-section__portrait" %}
      </div>
    </div>
  </div>
</section>
<section class="index-section" id="s2">
  <div class="index-section__text-wrapper" data-aos data-aos-threshold="0.5">
    <div class="index-section__container">
      <div class="index-section__decorative-line index-section__decorative-line--full"></div>
      <p class="index-section__text h2">
        I work on <a href="/projects/">projects</a>
        using a variety of technologies, including <a href="/projects/tagged/shopify/">Shopify</a>,
        <a href="/projects/tagged/vue.js/">Vue.js</a> and the <a href="/projects/tagged/jamstack">Jamstack</a>
      </p>
    </div>
  </div>
  <div class="index-section__visuals index-projects">
    <div class="index-projects__wrapper">
      {% for project in collections.projects | limit(3) | reverse %}
        {% set image = project.data.image %}
        <div class="index-project__item" data-aos data-aos-threshold="0.5">
          <a class="index-project__link" href="{{ project.url }}">
            {% cloudinaryImage image.name, image.alt, image.width, image.height, "(min-width: 72em) 27.5vw, (min-width: 62em) 35vw, 70vw", "eager", "index-project__image" %}
            {% cloudinaryImage image.name, "", image.width, image.height, "(min-width: 72em) 27.5vw, (min-width: 62em) 35vw, 70vw", "eager", "index-project__image--shift" %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
