---
layout: 'base'
title: null
hideNav: true
---
<section class="index-section index-section--first">
  <div class="index-section__text-wrapper">
    <div class="index-section__container">
      <div class="index-section__decorative-square" data-aos></div>
      <div class="index-section__decorative-line" data-aos></div>
      <h1 class="index-section__title">
        Hi, I'm Nic and I'm a
        <strong class="accent-text">front-end web developer</strong>
      </h1>
    </div>
  </div>
  <div class="index-section__visuals">
  </div>
</section>
<section class="index-section ">
  <div class="index-section__text-wrapper">
    <div class="index-section__container">
      <p class="index-section__text h2">
        I work on client sites using a variety of technologies, including Shopify, Vue.js and the Jamstack
      </p>
    </div>
  </div>
  <div class="index-section__visuals">
    {% for project in collections.projects %}
      {{ project.data.title }}
    {% endfor %}
  </div>
</section>
