---
layout: 'base'
title: null
hideNav: true
footer: '<div class="index-section__static-fade index-section__static-fade--active"></div>'
---
{% from "postItem.njk" import postItem %}
<section class="index-section index-section--first" data-aos>
  <div class="index-section__text-wrapper">
    <div class="index-section__container">
      <div class="index-section__decorative-square" data-aos></div>
      <div class="index-section__decorative-line" data-aos></div>
      <h1 class="index-section__title">
        Hi, I'm Nic and I'm a
        <strong class="accent-text">front-end web developer</strong>
      </h1>
    </div>
  </div>
  <div class="index-section__visuals index-section__visuals--portrait">
    {% cloudinaryImage 'portrait-filtered.png', 'self portrait of Nic Chan painted in purples, pinks and teals', 934, 1055, "(min-width: 62em) 60rem, (min-width: 48em) 50vw, 100vw", "eager", "index-section__portrait" %}
  </div>
</section>
<section class="index-section">
  <div class="index-section__text-wrapper" data-aos data-aos-threshold="0.5">
    <div class="index-section__container">
      <div class="index-section__decorative-line index-section__decorative-line--full"></div>
      <p class="index-section__text h2">
        I work on <a href="/projects/">projects</a>
        using a variety of technologies, including <a href="/projects/tagged/shopify/">Shopify</a>,
        <a href="/projects/tagged/vue.js/">Vue.js</a> and the <a href="/projects/tagged/jamstack">Jamstack</a>
      </p>
    </div>
  </div>
  <div class="index-section__visuals index-projects">
    <div class="index-projects__wrapper">
      {% for project in collections.projects | limit(3) | reverse %}
        {% set image = project.data.image %}
        <div class="index-project__item" data-aos data-aos-threshold="0.5">
          <a class="index-project__link" href="{{ project.url }}">
            {% cloudinaryImage image.name, image.alt, image.width, image.height, "(min-width: 72em) 27.5vw, (min-width: 62em) 35vw, 70vw", "eager", "index-project__image" %}
            {% cloudinaryImage image.name, "", image.width, image.height, "(min-width: 72em) 27.5vw, (min-width: 62em) 35vw, 70vw", "eager", "index-project__image--shift" %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="index-section">
  <div class="index-section__text-wrapper" data-aos data-aos-threshold="0.5">
    <div class="index-section__container">
      <div class="index-section__decorative-line index-section__decorative-line--full"></div>
      <p class="index-section__text h2">
        I <a href="/blog">blog</a> about various topics including <a href="/blog/tagged/accessibility">accessibility</a> and
        <a href="/blog/tagged/animation">animation</a>.
      </p>
    </div>
  </div>
  <div class="index-section__visuals index-blog">
    <ul class="index-blog__list">
      {% for item in collections['featured'] | reverse %}
        <li class="index-blog__item" data-aos data-aos-threshold="0.5">
          {{ postItem(item) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="index-section">
  <div class="index-section__text-wrapper" data-aos data-aos-threshold="0.5">
    <div class="index-section__container">
      <div class="index-section__decorative-line index-section__decorative-line--full"></div>
      <p class="index-section__text h2">
        Most recently I've been contributing to the <a href="https://www.w3.org/community/maps4html/">W3C Maps 4 HTML Community Group</a>,
        spoken at a W3C/OGC Joint Workshop and become a certified Web Accessibility Specialist.
      </p>
    </div>
  </div>
  <div class="index-section__visuals index-misc">
    <div class="container container--md">
      <div class="index-misc__item" data-aos data-aos-threshold="0.5">
        <a class="index-misc__link" href="https://maps4html.github.io/HTML-Map-Element-UseCases-Requirements/"  data-aos data-aos-threshold="0.5">
          {% cloudinaryImage 'usecases.png', "Use Cases and Requirements for Standardizing Web Maps, Nic Chan is listed as a co-author", 724, 403, "(min-width: 35em) 30rem, 90vw", "lazy", "index-misc__image" %}
        </a>
      </div>
      <div class="index-misc__item" data-aos data-aos-threshold="0.5">
        <a class="index-misc__link" href="/blog/talk-ui-patterns-in-existing-web-map-widgets/">
          {% cloudinaryImage 'map-presentation.png' , "UI Patterns in existing web maps widget presentation slides cover page", 2400, 1350, "(min-width: 35em) 30rem, 90vw", "lazy", "index-misc__image" %}
        </a>
      </div>
    </div>
  </div>
</section>
