---
title: Dripkit
date: 2018-11-04
image:
  name: featured-dripkit.png
  width: 1366
  height: 768
  alt: Dripkit homepage.
color: '#000bca'
link: https://dripkit.coffee/
technology:
  - Shopify
  - Liquid
  - SCSS
  - Vue.js

blurb: A code overhaul for a coffee startup.
brief: |
  Dripkit had a strong brand and a loyal following, but their site was built out in a way that was hard for their team to make changes to their own site, which also needed some structural changes to cope with the launch of new products.
solution: |
  With <a href="http://www.altanddot.com/">Alt & Dot</a>, we iterated on Dripkit's brand to standardize their design language, convert their theme into reuseable sections and implement new features to improve conversion.
---
{% projectRow color %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'dripkit-pdp.png',
      "Dripkit product page for purchasing Aguas Altas Coffee.",
      1366,
      878,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'dripkit-coffees.png',
      "Dripkit Our Coffee Page.",
      1366,
      878,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h2>Highlights</h2>
<p>
By integrating subscription options into the same form as the regular product options,
Dripkit was able to reduce friction in the shopping process and increase conversions on subscriptions.
Subtle animations on key pages set Dripkit's brand apart from it's competitors.
</p>

{% projectRow color %}
  {% cloudinaryImage
    'dripkit-quiz.png',
    "Dripkit quiz questions and illustrated answers.",
    1366,
    719,
    "(min-width: 90em) 85.375rem, 90vw",
    "lazy",
    "project-media__image" %}
{% endprojectRow %}

<h3>Personalized Recommendations</h3>
<p>
With the introduction of multiple coffee variations,
we introduced a short quiz for customers to be able to identify which coffee would best fit their tastes,
improving customer satisfaction.
A quiz like this creates the potential for segmenting customers and targeted promotions to better match customer interests.
</p>
