---
title: GoGoPop
date: 2017-01-20
image:
  name: featured-gogopop.png
  width: 1338
  height: 795
  alt: GoGoPop homepage, a marketing homepage with some text, CTAs and a mobile mockup.
color: '#ff4444'
technology:
  - React
  - SCSS
  - GSAP
  - Animation

blurb: A website build-out for an up-and-coming app.

solution: |
  As a part of <a href="http://wonderkiln.com">Wonderkiln</a>, I built out the public site for GoGoPop using ReactJS. The site is fully responsive and features stunning CSS and Javascript based animations to draw the viewer's attention.
---

{% projectRow color %}
  {% projectColumn 'half' %}
    <video class="project-media__image" controls width="100%">
      <source src="https://res.cloudinary.com/nicchan/video/upload/v1607863914/flurgle-scroll-animation.webm" type="video/webm">
    </video>
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    <video class="project-media__image" controls width="100%">
      <source src="https://res.cloudinary.com/nicchan/video/upload/v1607863913/flurgle-404-animation.webm" type="video/webm">
    </video>
  {% endprojectColumn %}
{% endprojectRow %}

<h2>Video Descriptions</h2>
<h3>First Video</h3>
<p>Upon scrolling down, the GoGoPop logo shrinks down in a bouncy way, and the wordmark and background concentric circles are removed. When scrolling up, the missing elements bounce back in, emanating from the logomark.</p>

<h3>Second Video</h3>
<p>The GoGoPop logo blinks curiously, a red chat bubble appears behind it and two '4's appear from either side, butting into the logomark, causing the logomark to sweat. The phrase '404' is formed.</p>
