---
title: Om Organics
date: 2020-04-16
image:
  name: featured-om.png
  width: 1366
  height: 730
  alt: "Om Organics Canada homepage"
color: '#c6d9dd'
link: https://www.omorganicscanada.com/
technology:
  - Shopify
  - Liquid
  - SCSS
  - JavaScript
  - Animations

blurb: A hand-crafted new look for a Canadian skincare store.

brief: |
  Om Organics was a rapidly growing brand in the Canadian skincare space, with a thriving wholesale business and a popular line of it's own skincare products. They were ready for a unique look of their own.

solution: |
  As a part of <a href="https://altanddot.com">Alt & Dot</a>, I developed a new Shopify theme and design system from scratch for Om Organics in order to support Om Organic's growth.
---
{% projectRow color %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'om-pdp.png',
      "Om product page.",
      1365,
      1028,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'om-plp.png',
      "Om collection.",
      1366,
      1734,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h2>Highlights</h2>

<h3>Products</h3>
<p>
Pages were designed to show off Om's stunning photographs and product displays,
with an emphasis on displaying key ingredients and their skincare benefits.
</p>
<p>
Collections included two-tiered merchant editable filter navigation
to allow customers to find products amongst Om's extensive range.
</p>

{% projectRow color %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'om-design-1.png',
      "Om design system: product grid, image with headline and illustration background, image with text.",
      1365,
      2568,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'om-design2.png',
      "Om design system: testimonial slideshow, instagram section.",
      1314,
      1134,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h3>Design System</h3>
<p>
Components were carefully developed to allow for merchant editability.
The design system included elements like overlapping text, images and other graphic elements,
and these were all developed in a way to allow the merchant to edit the content and reuse these blocks elsewhere on the site,
retaining an organic and hand-crafted feel while being easy to extend.
</p>

{% projectRow color %}
  {% cloudinaryImage
    'om-cart.png',
    "Om shopping cart with upsell.",
    1366,
    785,
    "(min-width: 92em) 85.735em, 90vw",
    "lazy",
    "project-media__image" %}
{% endprojectRow %}

<h3>Conversion Improvements</h3>
<p>
We also were able to improve conversions by implementing addtional features post launch,
such as improving store loading performance through implementing lazy loaded responsive images,
quick add to cart buttons
and customizeable upsells in the shopping cart.
</p>
