---
title: Steven Holl Architects
date: 2015-12-01
image:
  name: featured-sha.png
  width: 1007
  height: 768
  alt: Steven Holl Architects homepage. Features an asymmetric menu on the left and list of projects and project filters on the right.
color: '#63a4da'
link: https://web.archive.org/web/20160113083119/http://www.stevenholl.com/
technology:
  - SCSS
  - jQuery
  - Foundation
  - PHP
  - MySQL
  - Laravel

blurb: A complete code overhaul for a world famous architecture firm.

brief: |
  Steven Holl Architects were happy with overall look and feel of their website, but the design wasn’t optimized for mobile and had issues on larger screens. The repetitive, procedural PHP backend hurt their search engine rankings and limited their ability to make changes without breaking the site.
solution: |
  I rewrote the site from the ground up, creating responsive mobile and tablet versions while maintaining the existing visual branding. I combed over every single detail, keeping key elements and making UI improvements to maximise legibility, functionality and performance.

  I opted for a complete overhaul of the backend with Laravel in order to utilize the full power of a MVC framework with proper routing, secure database queries and a robust templating engine. This not only provided a boost to search engine rankings, it also patched up some major security issues and made it easier for future developers to pick up where I left off.
---
{% projectRow color, 'Mobile Views' %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-mob.png',
      "List of projects on Steven Holl Architects.",
      480,
      800,
      "(min-width:75em) 30em, (min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-mob-2.png',
      "Expanded menu and list of news on Steven Holl Architects.",
      461,
      768,
      "(min-width:75em) 28.313em, (min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h2>Highlights</h2>
<h3>Sorting and Filtering</h3>
<p>
I created a complete project chronology section and implemented the jQuery plugin Isotope for project sorting and filtering –
because nothing lends confidence to potential clients like seeing an extensive portfolio of built works!
This lead to increased discovery of older projects and a higher engagement rate.</p>

{% projectRow color, 'Team Before & After' %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-old-12.png',
      "Old version of Steven Holl Architects team page.",
      1424,
      888,
      "(min-width: 90em) 85.375rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-background2.png',
      "New version of Steven Holl Architects team page.",
      1491,
      937,
      "(min-width: 90em) 85.375rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h3>Design Improvements</h3>
<p>
The site was originally built for 1024 x 768px screens,
any smaller or larger than that and the viewer would face major visual and usability issues.
On large screens, the backgrounds were cut off awkwardly,
and in many cases, parts of the menu were completely invisible against the white backgrounds.
I not only properly implemented responsive backgrounds,
I also utilized the multiple backgrounds feature of CSS3 to add a grey overlay,
guaranteeing that no matter what image was used, the menu would always be visible
</p>
<p>
I also redesigned the actual content of the pages,
including the staff page pictured above.
Judicious use of whitespace and an emphasis on visuals made the content more approachable and easy to read
— no more wall of text!
</p>

{% projectRow color, 'Map Before & After' %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-old-12.png',
      "Old version of Steven Holl Architects map.",
      1024,
      768,
      "(min-width: 90em) 85.375rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'sha-map.png',
      "New version of Steven Holl Architects map.",
      1007,
      768,
      "(min-width: 90em) 85.375rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h3>Maps</h3>
<p>
The map was another element of the site that didn’t age well with time.
On large screens, there was a lot of empty grey space,
and on mobile, the tiny tap targets made it impossible to use.
I rewrote the map to utilize the Google Maps API,
which allowed for automatic scaling and zooming for greater interactivity.
The result was a 100% increase in the average time spent on the page.
</p>

<h3>SEO Improvements</h3>
<p>
I made use of semantic Schema.org markup and implemented the Open Graph protocol on key content pages
- the result was a 200% increase in social traffic.
</p>

<h3>Performance Improvements</h3>
<p>Countless performance improvements were made over the course of rewriting the site.
The old site loaded 10 random background images on each page load to cut down on future loading times -
but I found that our average viewer only looked at 2-3 backgrounds before viewing interior pages without backgrounds -
the potential cache benefits weren’t worth the heavy initial load time.
I concatenated and minified resources,
utilized Laravel's eager loading and optimized all images.
The results of this effort can be seen on the home page speed scores -
I lowered the page size from 2.7mb to a lean 325kb
and reduced the load time from 3 seconds down to an average of 400 milliseconds,
all while maintaining support for Internet Explorer 8,
a requirement at the time to support an international audience.
</p>

{% cloudinaryImage
  'speedtest4.png',
  "Speed test results for Steven Holl website.",
  596,
  196,
  "(min-width: 90em) 85.375rem, 90vw",
  "lazy",
  "",
  "",
  "style='background-color: transparent'" %}
