---
title: Switch Themes
date: 2021-07-08
image:
  name: featured-switch-themes.png
  width: 1366
  height: 768
  alt: Product page using the Baseline theme by Switch Themes
color: '#1F0A64'
link: https://switchthemes.co/
technology:
  - Shopify
  - Tailwind CSS
  - JavaScript
  - Alpine.js
blurb: Building Shopify themes with a premier Shopify theme merchant.
solution: |
  Switch Themes was pursuing an ambitious rewrite of all their themes, and producing a brand new theme on top of that. I jumped in to assist with development on Baseline, their most ambitious theme to date.
---
<p>
I developed core components for the Baseline and Label themes, as well as provided accessibility consultation for all of Switch's themes.
</p>

{% projectRow color %}
  {% projectColumn 'one-third' %}
    {% cloudinaryImage
      'baseline-modern.png',
      "Baseline theme Modern preset",
      600,
      1203,
      "(min-width: 48em) 33.75rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'one-third' %}
    {% cloudinaryImage
      'baseline-bold.png',
      "Baseline theme Bold preset",
      600,
      935,
      "(min-width: 48em) 33.75rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'one-third' %}
    {% cloudinaryImage
      'baseline-minimal.png',
      "Baseline theme Minimal preset",
      600,
      1189,
      "(min-width: 48em) 33.75rem, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}

<h3>Baseline</h3>
<p>
Baseline is a type-focused, brutalist style theme, with nearly infinite ways to configure. Baseline takes it to the next level with configurable options for spacing, grids and offsets, making it one of the most customizable themes in the theme store.
</p>

<blockquote class="testimonial">
  <p class="testimonial__text">Hands down one of the handiest, easiest, well-coded and most versatile Themes I have worked with. The settings are rich of options, the Theme allows for a lot of customisation, and even their helpdesk is fast and friendly. 100% would recommend!</p>
  <cite class="testimonial__author">– A Shopify merchant</cite>
</blockquote>
