---
title: Wonderkiln
date: 2017-10-26
image:
  name: v1607397360/featured-wonderkiln.png
  width: 1366
  height: 768
  alt: Wonderkiln homepage
color: '#ec55d8'
link: https://www.wonderkiln.com/
featured: true
technology:
  - HTML
  - SCSS
  - Javascript
  - Gulp
  - Grav
  - PHP

blurb: An extra special agency portfolio.

solution: |
  After working with <a href="https://www.wonderkiln.com/">Wonderkiln</a> for over a year, I was thrilled to finally get the opportunity to build out the new site! The site utilizes Grav as the content management system and features <a href="https://medium.com/outsystems-experts/flip-your-60-fps-animations-flip-em-good-372281598865">buttery smooth</a> CSS animations, along with page transitions with the help of Barba.js.
---
{% projectRow color %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'wonderkiln-case-study.png',
      "Case study from Wonderkiln.com",
      1366,
      817,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
  {% projectColumn 'half' %}
    {% cloudinaryImage
      'wonderkiln-menu.png',
      "Menu from Wonderkiln.com",
      1366,
      768,
      "(min-width: 48em) 45vw, 90vw",
      "lazy",
      "project-media__image" %}
  {% endprojectColumn %}
{% endprojectRow %}
