<div class="preference {{ toggle_class }}" role="group" aria-labelledby="{{ toggle_class }}-label">
  <span class="preference__label" id="{{ toggle_class }}-label">Color Scheme</span>
  <button class="preference__button" type="button" aria-pressed="false" data-preference="dark" data-preference-namespace="color-scheme">
    Dark
  </button>
  <button class="preference__button" type="button" aria-pressed="false" data-preference="light" data-preference-namespace="color-scheme">
    Light
  </button>
  <button class="preference__button" type="button" aria-pressed="false" data-preference="unset" data-preference-namespace="color-scheme">
    Unset
  </button>
</div>
