<div class="color-scheme {{ toggle_class }}">
  <button class="color-scheme__button color-scheme__button--dark" data-color-scheme="dark">
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 25 25">
      <path fill="currentColor" d="M24.86 15.53a.5.5 0 00-.57 0A10.71 10.71 0 019.57.79.5.5 0 009 0a12.77 12.77 0 1016 16 .5.5 0 00-.14-.47z"/>
    </svg>
    <span>Dark Mode</span>
  </button>
  <button class="color-scheme__button color-scheme__button--light" data-color-scheme="light">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-sun" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="5"/>
      <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
    </svg>
    <span>Light Mode</span>
  </button>
</div>
