<header>
  {% if navigation.items %}
    <nav aria-label="Primary" class="nav container">
      <ul class="nav__list">
        {% for item in navigation.items %}
          <li class="nav__item">
            {% set relExternal = '' %}
            {% set isCurrent = '' %}
            {% if item.external %}
              {% set relExternal = ' rel="external" target="_blank"' %}
            {% endif %}
            {% if page.url == item.url %}
              {% set isCurrent = ' aria-current="page"' %}
            {% endif %}
            <a class="nav__link" href="{{ item.url }}"{{ relExternal | safe }}{{ isCurrent | safe }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
